- breadcrumb :item_action, @file

%h1= @file.name


.btn-group.btn-group-lg{ role: 'group', aria: { label: 'toolbar' }}
  = link_to download_user_folder_user_file_path(@file.parent, @file), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-download-alt{ aria: { hidden: true } }
    ダウンロード
  %button.btn.btn-default{ type: 'button' }
    %span.glyphicon.glyphicon-copy{ aria: { hidden: true } }
    コピー
  = link_to [@file.parent, @file], method: :delete, class: 'btn btn-default', data: { confirm: '本当に削除してもよろしいですか？' } do
    %span.glyphicon.glyphicon-remove{ aria: { hidden: true } }
    削除
