-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Dropbox Clone', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      - if user_signed_in?
        = search_form_for @search, url: search_path, as: :search, class: 'navbar-form navbar-left', role: 'search' do |f|
          .form-group
            = f.search_field :name_cont, class: 'form-control'
          %button.btn.btn-default{ type: 'submit' } 検索
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
